<!DOCTYPE html>
<html>
  <head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/theme.css" type="text/css"/>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Student Name</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item active">
            <a class="nav-link" href="/htmlDemo">Html Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students/add">Add Student</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/students">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tas">Teaching Assistants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <main class="col-md-12">
          <!-- Start your code here -->
          <article>
            <h5><u>Student Details Table</u></h5>
            <table border="1">
              <caption>
                <i>This is for details of students in class </i>
              </caption>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Id</th>
                  <th>Age</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Diksha</td>
                  <td>23</td>
                  <td>India</td>
                </tr>
                <tr>
                  <td>Neena</td>
                  <td>31</td>
                  <td>Canada</td>
                </tr>
              </tbody>
            </table>
          </article>

          <article>
            <h5><u>Course Details</u></h5>
            <table border="2">
              <caption>
                <i>This is for Student Course Details</i>
              </caption>
              <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Id</th>
                  <th>Instructor</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >Java</td>
                  <td>10</td>
                  <td>Neena</td>
                </tr>
                <tr>
                  <td rowspan="2">Java Script</td>
                  <td>20</td>
                  <td>Diksha</td>
                </tr>
                <tr>
                 
                  <td>40</td>
                  <td>John</td>
                 
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan ="3">total Courses mentioned above</th>
                  <td>2</td>
                </tr>
              </tfoot>
            </table>
          </article>

          <article>
            <h4><u>Course has following features</u></h4>
            <ol>
              <li>Intractive</li>
              <li>Creative</li>
              <li>
                Field work having 
                <ul>
                  <li>real world projects </li>
                  <li>group assignments </li>
                  <li>interships </li>
                  
                </ul>
              </li>
              <li>Free food for the entire semester !! </li>
            </ol>
            <p>
              There are many intresting field trip activity as well. Some of them are listed above.
            </p>
          </article>

          <article>
            <br />
            <h3>
              <u>Sample image </u>
            </h3>
            <br />
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg"
              width="300"
              height="200"
              alt="Photo of Snowboarding "
            />
            <img
              src="https://media.broox.com/photo/bwca-2015/full/29955/swimming-in-lake-kivaniva.jpg"
              width="300"
              height="200"
              alt="Swiming in lake Kivaniva"
            />
            <img
              src="https://th.bing.com/th/id/OIP.GHpDlSeVnIrBe7--fGiT2AHaDt?pid=ImgDet&rs=1"
              width="300"
              height="200"
              alt="Hunting Activity "
            />
            <p>
              The images above shows Snowboarding in Canada,
              Swiming in lake Kivaniva &
              Hunting Activity included in cource firld trip fun activities .
            </p>
          </article>

          <article>
            <br />
            <h3>
              <u><b>Sample Music</b></u>
            </h3>
            <audio controls>
              <source
              src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3"
              type="audio/mp3"
            />
               <source
                src="https://www.freesoundslibrary.com/birds-chirping-sound-effect/.mp3"
                type="audio/mp3"
              />
               Sorry , browser does not support !
            </audio>
            <p>
              <i>
                Sample audio added !
              </i>
            </p>
          </article>

          <article>
            <br />
            <h3>
              <u><b>Sample Video</b></u>
            </h3>
            <video width="320" height="240" controls>
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.mp4"
                type="video/mp4"
              />
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.ogg"
                type="video/ogg"
              />
              <source
                src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.webm"
                type="video/webm"
              />
              Sorry, browser does not support !
            </video>
            <p>
              <i>
                A video sample added , do check out !</i
              >
            </p>
          </article>

          <!-- End  -->
        </main>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
